@{
    ViewData["Title"] = "Registration Form";
}

<h3 class="head"> Registration Form </h3>
<h5 class="subhead">
    A new Client! Welcome to PharmaHub Platform
    <br />
    Sign Up for Free and Meet the Team
</h5>
<form>
    <label class="datatype">Email</label>
    <input id="input" onmouseover="Fun2()" type="email" class="Reg-form1" placeholder="Enter Your Email" />
    <br />
    <br />
    <label class="datatype">First Name</label>
    <input id="input" onmouseover="Fun2()" type="text" class="Reg-form1" placeholder="Your First Name" />
    <br />
    <br />
    <label class="datatype">Last Name</label>
    <input id="input" onmouseover="Fun2()" type="text" class="Reg-form1" placeholder="Your Last Name" />
    <br />
    <br />
    <label class="datatype">Password</label>
    <input id="input" onmouseover="Fun2()" type="password" class="Reg-form1" placeholder="Enter a Strong Password" />
    <br />
    <br />
    <label class="datatype">City</label>
    <input id="input" onmouseover="Fun2()" type="text" class="Reg-form1" placeholder="Residency Place" />
    <br />
    <br />
    <label class="datatype">Gender</label>
    <select class="Reg-form1">
    <option>Male</option>
    <option>Female</option>
    </select>
    <br />
    <br />
    <label class="datatype">Study Level</label>
    <select class="Reg-form1">
        <option>BA</option>
        <option>MSc</option>
        <option>PhD</option>
    </select>
</form>
<button id="savebtn" onclick="Fun1()">Save</button>
